.container {
  max-width: 960px;
}

.navbar {
  background-color: #e3f2fd;
}

.cart svg {
  width: 33px;
  height: 30px;
}

.cart .top-0 {
  top: 8px !important;
}

.cart {
  cursor: pointer;
}

.cart .thumbnail {
  width: 72px;
  height: 72px;
}

.product-card .img-grid {
  width: 200px;
  margin: 0 auto;
  height: 200px;
  padding: 15px;
  overflow: hidden;
}

.product-card .img-grid img {
  width: 100%;
}

.cart-table .media-object {
  width: 80px;
}

.cart-quantity span {
  width: 35px;
  display: inline-block;
  font-weight: bold;
}

.empty-cart .img-thumbnail {
  padding: 0.25rem;
  border: none;
  width: 380px;
  height: auto;
}
